# Virtual Environments
.venv/
venv/
env/
bin/
include/
lib/
share/

# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables (Sensitive Data)
.env
.flaskenv

# Distribution / Packaging
dist/
build/
*.egg-info/

# Unit test / Coverage reports
.pytest_cache/
.coverage
htmlcov/

# Database
db.sqlite3

# OS-specific files
.DS_Store
Thumbs.db
